<ion-header [translucent]="true">  <!--topo da página-->
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!--conteudo da página-->

  <!-- <ion-toolbar>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar> -->

  <!-- <div>
    <button class="btn txt-roxo">Buscar</button>
    <ion-button class="btn txt-roxo">Buscar</ion-button>
  </div> -->

    <!-- List of Text Items -->
  <ion-list lines="full" *ngFor="let p of personas">

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail>
          <img alt="" [src]="p.url" />
        </ion-thumbnail>
        <!-- <ion-avatar>
          <img alt="Silhouette of a person's head" [src]="p.url"/>
        </ion-avatar> -->
        <ion-label class="ion-text-nowrap">
          <div>
            <h1>{{p.nome}}</h1>
            <p>{{p.municipio}}</p> <p>{{p.quantidadeVagas}} vagas</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          {{p.score}}
        </ion-chip>
      </ion-item>
      <ion-item-options side="end" (click)="presentAlert()">
        <ion-item-option>
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


















</ion-content>
